* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
/* ===============================================================*/
.Juda,
.Yoni,
.Yoav,
.Dani,
.Eden {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px;
  width: 20vh;
  height: 40vh;
  margin: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Juda {
  background: blue;
}
.Yoni {
  background: red;
}
.Yoav {
  background: #333;
}
.Dani {
  background: green;
}
.Juda {
  background: rgb(7, 226, 197);
}
.bodyJacob {
  display: flex;
}
/* ===============================================================*/

.loader {
  height: 150px;
  width: 200px;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.header_web {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 50%,
    rgba(252, 70, 107, 1) 100%
  );
  display: flex;
  position: relative;
}
.header_movies {
  justify-content: center;
  align-self: center;
  height: 20vh;
  display: flex;
  padding: 10vh;
  left: -20vh;
  top: 5vh;
  position: relative;
  animation-name: moveLogo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: none;
  animation-timing-function: ease-in-out;
}

@keyframes moveLogo {
  0% {
    left: -20vh;
    top: 5vh;
  }
  45% {
    left: -160vh;
    top: 5vh;
  }
  90% {
    left: -20vh;
    top: 5vh;
  }
}

.header_nav {
  background-color: black;
  color: white;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
}

.header_nav .nav1,
.nav2,
.nav3,
.nav4,
.nav0 {
  font-style: inherit;
  font-weight: bold;
  padding: 8px;
  height: 100%;
  list-style: none;
}
.header_nav .nav1:hover,
.nav2:hover,
.nav3:hover,
.nav4:hover,
.nav0:hover {
  background-color: teal;
  cursor: pointer;
  transform: scale(0.98);
  transition: ease-in-out 0.3s;
}

.imgLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
}

.card_HeaderLogo {
  height: 5px;
  width: 100%;
}
.profileImg {
  padding: 5px;
  display: flex;
  border-radius: 25px;
  justify-content: center;
  height: 30vh;
  width: 25vh;
  justify-items: center;
}
.card_Movie {
  background-color: burlywood;
  display: flex;
  width: 50%;
  justify-content: center;
  justify-self: center;
}
#containerBody {
  height: 50%;
  background-color: rgb(0, 0, 0);
}
.slide_Img {
  height: 500px;
  width: 500px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cardTicket {
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  height: 40vh;
  color: wheat;
  background: radial-gradient(
    circle,
    rgba(8, 132, 238, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: 2px 2px 2px 2px black;
  width: 40vh;
  height: 100;
  margin: 10px;
}
.cardTicket:hover {
  opacity: 0.7;
  background-color: brown;
  cursor: pointer;
  transform: scale(0.98);
  transition: ease-in-out 0.3s;
}

.cardTicket:active {
  transform: scaleX(-1);
  transition: ease-in-out 0.3s;
}
.footerLogo {
  display: flex;

  height: 30vh;
}

.footer_web {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 32%,
    rgba(233, 19, 34, 1) 79%
  );
  color: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_web :nth-child(1) {
  width: 30vh;
}
.footer_web :nth-child(2) {
  width: 30vh;
}
.footer_web :nth-child(3) {
  width: 30vh;
}

.imgFooter {
  display: flex;
  color: white;
  flex-direction: column;
}

.imgFooter img {
  height: 5vh;
  cursor: pointer;
}

.imgFooter img:hover {
  opacity: 0.2;
}
.techLogo {
  border-radius: 50%;
  height: 20vh;
}
.footer_center img {
  display: flex;
}

.footerLogo {
  border-radius: 20px;
}

@media only screen and (min-width: 414px) and (max-width: 767px),
  (min-width: 412px) and (max-width: 767px),
  (min-width: 390px) and (max-width: 767px),
  (min-width: 428px) and (max-width: 767px),
  (min-width: 384px) and (max-width: 767px),
  (min-width: 360px) and (max-width: 767px) {
  * {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .header_nav {
    display: inline-flex;
  }

  .header_nav li {
    font-size: 15px;
    border: 0.5px solid grey;
  }

  .profileImg {
    padding: 5px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    height: 30vh;
    width: 25vh;
    justify-items: center;
  }

  .header_web {
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 50%,
      rgba(252, 70, 107, 1) 100%
    );
    display: flex;
    width: 100%;
  }

  .header_web {
    width: 100%;
  }
  #containerBody {
    height: 100%;
    width: fit-content;
    background-color: #333;
  }

  .cardTicket:active {
    opacity: 0.7;
    background-color: brown;
    cursor: pointer;
    transform: scaleX(-1);

    transition: ease-in-out 0.3s;
  }

  .footer_web {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_web div {
    margin: 20px;
  }

  .techLogo {
    height: 20vh;
    width: 100%;
  }
}
